@import url(../css/modern-normalize.css);

* {
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

:root {
	--Focused-link-color: #4d5ae5;
	--button-active-color: #404bbf;
	--Headings-color: #2e2f42;
	--Success-messages-color: #31d0aa;
	--Body-text-color: #434455;
	--Helper-text-color: #8e8f99;
	--Subtle-backgrounds-color: #e7e9fc;
	--backgrounds-Light-color: #f4f4fd;
	--bg-white-color: #ffffff;
	--bg-modal-color: #FCFCFC;
	--card-set-gap: 24px;
}

/* ============== param ============ */

body {
	min-width: 320px;
	background-color: var(--bg-white-color);
	color: var(--Body-text-color);
	font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	margin: auto;
	padding: 0;
}

body.modal-open,
body.menu-open {
	overflow: hidden;
}


img {
	display: block;
	width: 100%;
	height: auto;
}


/* ==================== GENERAL STYLE ==================== */
.container {
	margin: auto;
}


.button,
.link {
	cursor: pointer;
}

.text {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--Body-text-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.title {
	font-weight: 700;
	color: var(--Headings-color);
	letter-spacing: 0.02em;
}


.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.logo {
	font-family: Raleway, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}


.prymary-brand {
	color: var(--Focused-link-color);
}

.container .logo {
	color: var(--Headings-color);
}

.mobile-menu {
	width: 100%;
	height: 100%;
}

.close-btn {
	position: absolute;
	display: block;

	width: 24px;
	height: 24px;

	padding: 7px;

	border-radius: 50px;
	line-height: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
}


.mobile-menu .close-btn {
	top: 40px;
	right: 40px;
}

.close-btn:hover,
.close-btn:focus,
.close-btn:active {
	color: var(--bg-white-color);
	background-color: var(--button-active-color);
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-black {
	fill: currentColor;
}

.header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
	display: flex;
	align-items: center;
}

.hero .title {
	margin: auto;
	font-weight: 500;
	text-align: center;
	color: var(--bg-white-color);
}

.hero {
	background-color: var(--Headings-color);
}

.button-order {
	display: block;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	padding: 16px 32px;

	border-style: none;
	border-radius: 4px;

	background-color: var(--Focused-link-color);
	color: var(--bg-white-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-order:hover,
.button-order:focus,
.button-order:active {
	background-color: var(--button-active-color);
}

.overlay {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* ***************************** MODAL GENERAL *************************** */

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.backdrop {
	position: fixed;

	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	opacity: 1;
	overflow-y: scroll;

	transition: transform opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -100%);
	top: 0;
	opacity: 0;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;

	border-radius: 4px;
	background-color: var(--bg-modal-color);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12),
		0px 1px 2px 0px rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: transform opasity scale;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-btn {
	top: 24px;
	right: 24px;
}

.modal-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.form-modal-title {
	font-weight: 500;
	margin-top: 48px;
}


.input {
	font-size: 18px;
	width: 100%;
	height: 40px;

	padding-left: 38px;


	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	background-color: transparent;

	transition: border-color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.input-cover {
	position: relative;
	display: block;
	margin-bottom: 8px;
}

.input-cover:focus {
	color: var(--Focused-link-color);
}

.icon-input {
	position: absolute;

	top: 50%;
	left: 16px;
	transform: translateY(-50%);

	transition: background-color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
	outline: none;
	border-color: var(--Focused-link-color);
}

.input:focus+.icon-input {
	fill: var(--Focused-link-color);
}

.info-label {
	display: block;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	margin-bottom: 4px;
	color: var(--Helper-text-color);
}

.textarea-modal-form {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	resize: none;

	width: 100%;
	height: 120px;

	padding-top: 8px;
	padding-left: 16px;
	margin-bottom: 16px;

	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	background-color: transparent;
}

.textarea-modal-form:focus {
	outline-style: none;
	border-color: var(--Focused-link-color);
}

/* ================ CHECKBOX ================= */
.checkbox-privacy {
	justify-content: center;
	align-items: center;
}

.input-checkbox {
	display: inline;
	height: 16px;
	margin-right: 8px;
}

.label-checkbox {
	display: flex;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.04em;

	margin-bottom: 24px;
	color: #757575;
}

.checkbox-icon {
	width: 16px;
	height: 16px;

	padding: 4px 3px;

	border-radius: 2px;
	background-color: var(--button-active-color);

	opacity: 0;
	cursor: pointer;
}

.input-checkbox:checked+.label-checkbox .checkbox-icon {
	opacity: 1;
}

.input-checkbox:checked+.label-checkbox .checkbox-icon-box {
	border: none;
}


.checkbox-icon-box {
	display: block;

	width: 16px;
	height: 16px;
	border-radius: 2px;
	margin-right: 8px;

	border: 1.25px solid #2E2F42;
}

.input-checkbox:focus+.label-checkbox .checkbox-icon-box,
.input-checkbox:hover+.label-checkbox .checkbox-icon-box {
	border-color: var(--button-active-color);
}

.privacy-policy {
	font-size: inherit;
	color: var(--Focused-link-color);

	transition: color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy:hover,
.privacy-policy:focus,
.privacy-policy:active {
	color: var(--button-active-color);
}

/* ================= send-form-btn ===================== */

.send-form-btn {
	align-self: center;
	line-height: 1.17;
	letter-spacing: 0.04em;

	width: 170px;
	height: 51px;
	padding: 16px 32px;

	border: none;
	border-radius: 4px;
	color: var(--bg-white-color);
	background-color: var(--Focused-link-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	transition: background-color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form-btn:hover,
.send-form-btn:focus,
.send-form-btn:active {
	background-color: var(--button-active-color);
}

/* ***************************** FUTURE GENERAL *************************** */

.future-icon {
	display: flex;
	height: 112px;

	justify-content: center;
	align-items: center;
	margin-bottom: 8px;

	border-radius: 4px;
	background-color: var(--backgrounds-Light-color);
}

.section-feature .list-title {
	margin-bottom: 8px;
}


/* ***************************** TEAM GENERAL *************************** */

.section.team .container {
	flex-direction: column;
}

.section.team {
	padding-top: 96px;
	background-color: var(--backgrounds-Light-color);
}

.team-title {
	font-size: 36px;
	line-height: 1.11;

	text-align: center;
	margin-bottom: 72px;
}

.team-list .card {
	width: 264px;
	border-radius: 0px 0px 4px 4px;

	background-color: var(--bg-white-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.card-content {
	text-align: center;
	padding: 32px 16px 36px;
}

.card-title {
	font-size: 20px;
	line-height: 1.2;

	margin-bottom: 8px;
}

.card-content .text {
	margin-bottom: 12px;
}



.social-list {
	display: flex;
}

.social-list-item .link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;

	border-radius: 50%;
	background-color: var(--Focused-link-color);

	transition: background-color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item .link:hover,
.social-list-item .link:focus,
.social-list-item .link:active {
	background-color: var(--button-active-color);

}

/* ***************************** CUSTOMERS GENERAL *************************** */

.customer-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.customers-title {
	font-size: 36px;
	line-height: 1.11;

	text-align: center;
	margin-bottom: 72px;
}

.customers-item {
	width: 168px;
	height: 88px;
}

.customers-item .link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	outline: none;
	border-radius: 4px;
	color: var(--Helper-text-color);
	border: 1px solid var(--Helper-text-color);

	transition: color, border-color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item .link:hover,
.customers-item .link:focus,
.customers-item .link:active {
	color: var(--button-active-color);
	border-color: var(--button-active-color);
}


.customers-logo {
	fill: currentColor;
	pointer-events: none;
}

/* ********************* FOOTER GENERAL ******************* */

.footer {
	background-color: var(--Headings-color);
}

.footer .container {
	display: flex;
}

.footer-summary {
	width: 264px;

}


.footer-summary .text {
	color: var(--Subtle-backgrounds-color);
}

.footer .logo {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
	color: var(--backgrounds-Light-color);
}

.footer-social {
	width: 208px;
}

.footer-social-list {
	display: flex;
}

.socilal-label {
	font-weight: 500;
	line-height: 1.5;

	margin-bottom: 16px;
	color: var(--bg-white-color);
}

.footer-social-item:not(:last-child) {
	margin-right: 16px;
}

.footer-social-item .link {
	display: flex;
	width: 40px;
	height: 40px;

	justify-content: center;
	align-items: center;

	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item .link:hover,
.footer-social-item .link:focus,
.footer-social-item .link:active {
	outline: none;
	background-color: var(--Success-messages-color);
}

.form-subscribe {
	display: flex;
	flex-direction: column;
	width: 456px;
}

.subscribe-label {
	font-weight: 500;
	line-height: 1.5;

	margin-bottom: 16px;
	color: var(--bg-white-color);
}

.email-input-footer {
	width: 264px;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;

	padding: 8px 0 8px 16px;


	border-radius: 4px;
	background-color: transparent;
	color: var(--bg-white-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.send-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	padding: 8px 24px;

	border: none;
	border-radius: 4px;
	background-color: var(--Focused-link-color);

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus,
.send-btn:active {
	background-color: var(--button-active-color)
}

.text-btn {
	color: var(--bg-white-color);
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.06em;
	margin-right: 16px;
}

/* ******************** PORTFOLIO GENERAL ************************* */

.filter-nav {
	display: flex;
	flex-wrap: wrap;
}

.butoon-filter {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;

	border-radius: 4px;
	color: var(--Focused-link-color);
	background-color: var(--backgrounds-Light-color);
	border: 1px solid var(--Subtle-backgrounds-color);

	transition: background-color, color, border, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.butoon-filter:hover,
.butoon-filter:focus,
.butoon-filter:active {
	border: 1px solid var(--button-active-color);
	background-color: var(--button-active-color);
	color: var(--bg-white-color);
}


.portfolio-list .item {
	display: block;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

	transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-img {
	position: relative;
	overflow: hidden;
}

.portfolio-list-info .text {
	color: var(--backgrounds-Light-color);
}

.portfolio-list-info {
	position: absolute;
	padding: 40px 32px;

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	transform: translateY(100%);
	background-color: var(--Focused-link-color);

	transition: transform;
	transition-duration: 250ms;
	transition-timing-function:
		cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .link:hover .portfolio-list-info,
.portfolio-list .link:focus .portfolio-list-info {
	transform: translateY(0);
}

.list-content {
	padding: 32px 16px;
}

.portfolio-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 8px;
}

/* ____________________ GENERAL ______________ */

/* *******************  MOBILE ****************** */
@media screen and (max-width: 768px) {

	.site-nav,
	.contacts {
		display: none;
	}

	.container {
		max-width: 428px;
	}

	.header .container {
		justify-content: space-between;

		padding-top: 24px;
		padding-bottom: 24px;
	}

	/* ***************************** MENU MOBILE *************************** */

	.menu.button {
		background-color: transparent;
		line-height: 0;
		padding: 0;
		border: none;

	}

	.mobile-menu {
		position: fixed;
		top: 0;
		left: 50%;

		z-index: 100;
		overflow-y: scroll;

		opacity: 0;
		visibility: hidden;
		pointer-events: auto;
		background-color: var(--bg-white-color);

		transition: transform opasity;
		transition-duration: 300ms;
		transition-timing-function:
			cubic-bezier(0.4, 0, 0.2, 1);
	}

	.mobile-menu.is-open {
		position: fixed;
		top: 0;
		left: 0;

		opacity: 1;
		visibility: visible;
		pointer-events: painted;

		transition: transform opasity;
		transition-duration: 300ms;
		transition-timing-function:
			cubic-bezier(0.4, 0, 0.2, 1);
	}



	.mobile-menu-container {
		display: flex;
		flex-direction: column;
		position: relative;
		max-width: 428px;
		max-height: 796px;
		padding: 40px;
		margin: auto;

		height: 100%;
		background-color: var(--bg-white-color);
	}

	.mobile-menu .site-nav {
		display: block;
		margin-top: 40px;
		margin-bottom: auto;
	}

	.mobile-menu .contacts {
		display: flex;
		flex-direction: column-reverse;
	}

	.mobile-menu .nav-link {
		display: flex;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.1;
		color: var(--Headings-color);
	}

	.mobile-menu .nav-list:not(:last-child) {
		margin-bottom: 40px;
	}

	.mobile-menu .nav-list:last-child .link {
		color: var(--button-active-color);
	}


	.mobile-menu .contacts-link {
		display: flex;
		font-size: 36px;
		line-height: 1.1;
		color: var(--Headings-color);
	}

	.mobile-menu .contacts-list:last-child .link {
		font-weight: 700;
		margin-bottom: 40px;
		color: var(--Focused-link-color);

	}

	.mobile-menu .contacts-list:first-child .link {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}


	.mobile-menu .contacts {
		margin-bottom: 48px;
	}


	.social-list {
		justify-content: space-between;
		max-width: 328px;
	}

	/* ********************* HERO MOBILE ******************* */

	.hero {
		width: 100%;
		height: 432px;
		margin: auto;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/bg_img/people-offic-mobile.jpg);
	}

	@media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(-o-min-device-pixel-ratio: 2/1),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))),
				url(../images/bg_img/people-offic-mobile_2x.jpg);
			background-image: -o-linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-mobile_2x.jpg);
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-mobile_2x.jpg);
		}
	}

	@media (min-device-pixel-ratio: 3),
	(-webkit-min-device-pixel-ratio: 3),
	(-o-min-device-pixel-ratio: 3/1),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))),
				url(../images/bg_img/people-offic-mobile_3x.jpg);
			background-image: -o-linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-mobile_3x.jpg);
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-mobile_3x.jpg);
		}
	}


	.hero .title {
		max-width: 318px;
		font-size: 36px;
		line-height: 1.11;
		margin-bottom: 72px;
	}

	.button-order {
		margin: auto;
	}

	.modal {
		width: calc(100% - 36px);
		max-width: 392px;
		padding: 24px 16px;

	}


	/* ********************* FEATURE NOBILE **************** */

	.feature-list .title {
		text-align: center;
	}

	.feature-list .item:not(:last-child) {
		margin-bottom: 72px;
	}

	/* ********************** TEAM NOBILE ****************** */

	.section.team {
		padding-bottom: 128px;
	}


	.team-list .card {
		margin: 0 auto;
	}

	.team-list .card:not(:last-child) {
		margin-bottom: 72px;
	}


	/* ****************** CUSTOMERS MOBILE ******************** */

	.customer-list {
		gap: 72px 16px;
	}


	.customer-item {
		flex-basis: calc((100% - 16px) / 2);
	}




	/* ****************** FOOTER MOBILE ******************** */

	.footer .container {
		justify-content: center;
		text-align: center;
	}

	.email-input-footer {
		width: 100%;
		margin-bottom: 16px;
	}

	.footer-summary {
		margin-bottom: 72px;
	}

	.footer-social {
		margin-bottom: 72px;
	}

	/* ****************** PORTFOLIO MOBILE ********************** */
	.section.portfolio {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.filter-nav {
		width: 264px;
		gap: 16px 24px;
		margin-bottom: 48px;
	}

	.butoon-filter {
		text-align: center;
		padding: 7px 15px;
	}

	.portfolio-list .item {
		max-width: 396px;
	}

	.portfolio-list .item:not(:last-child) {
		margin-bottom: 48px;
	}

}

/* _______________________ MOBILE  _________________________ */


/* ____________________ MOBILE-TABLET ______________________ */

@media screen and (max-width: 1200px) {

	.specialization {
		display: none;
	}

	.container {
		padding-left: 16px;
		padding-right: 16px;

	}

	.hero {
		padding-top: 112px;
		padding-bottom: 112px;
	}

	.modal {
		top: 96px;
		transform: translatex(-50%);
	}

	.form-modal-title {
		margin-bottom: 16px;
	}

	.future-icon {
		display: none;
	}

	.feature-list .title {
		font-size: 36px;
		line-height: 1.11;
		color: var(--Headings-color)
	}

	.section-feature {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.feature-list .text {
		font-weight: 500;
	}

	.section-customers {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.footer {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.footer .container {
		flex-wrap: wrap;
	}

	.list-content {
		border: 0.5px solid var(--backgrounds-Light-color);
		border-top: none;
	}
}

/* ____________________ MOBILE-TABLET __________________ */

/* _________________________ TABLET _______________________ */

@media screen and (min-width: 768px) and (max-width: 1200px) {

	.container {
		max-width: 768px;

	}

	.contacts-link {
		display: block;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.04em;
	}

	.contacts-list:first-child {
		padding-top: 24px;
		margin-bottom: 4px;
	}

	.contacts-list:last-child {
		padding-bottom: 10px;
	}

	.hero {
		display: block;
		margin: auto;
		width: 100%;
		height: 436px;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/bg_img/people-offic-tablet.jpg);
	}

	@media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(-o-min-device-pixel-ratio: 2/1),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))),
				url(../images/bg_img/people-offic-tablet_2x.jpg);
			background-image: -o-linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-tablet_2x.jpg);
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-tablet_2x.jpg);
		}
	}

	@media (min-device-pixel-ratio: 3),
	(-webkit-min-device-pixel-ratio: 3),
	(-o-min-device-pixel-ratio: 3/1),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))),
				url(../images/bg_img/people-offic-tablet.jpg);
			background-image: -o-linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-tablet.jpg);
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic-tablet.jpg);
		}
	}

	.hero .title {
		margin-bottom: 40px;
	}

	.feature-list {
		flex-wrap: wrap;
	}

	.feature-list .item {
		padding: 0;
		width: 356px;
	}

	.feature-list {
		justify-content: space-between;
	}

	.feature-list .item:nth-child(-n+2) {
		margin-bottom: 72px;
	}

	.section.team {
		padding-bottom: 104px;
	}

	/* ********************* TEAM TABLET ************************* */

	.team-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.team-list .card:nth-child(-n+2) {
		margin-bottom: 72px;
	}

	.team-list .card:nth-child(odd) {

		margin-right: var(--card-set-gap);
	}

	.customer-list {
		gap: 72px 24px;
	}

	.customer-item {
		flex-basis: calc((100% - 48px) / 3);
	}

	.footer .container {
		padding: 0 108px;
	}

	.footer-summary {
		margin-bottom: 72px;
	}

	/* ********************* PORTFOLIO TABLET ******************* */
	.section.portfolio {
		padding-top: 64px;
		padding-bottom: 96px;
	}

	.filter-nav {
		margin-bottom: 64px;
	}

	.portfolio-list {
		gap: 72px 24px;
	}

	.portfolio-list .item {
		flex-basis: calc((100% - 24px) / 2);
	}

}

/* __________________________ TABLET ____________________________ */


/* ____________  TABLET-DESCTOP (min-width: 768px) _____________ */

@media screen and (min-width: 768px) {

	.menu.button,
	.mobile-menu .close-btn,
	.mobile-menu .social-list {
		display: none;
	}

	.mobile-menu-container {
		display: flex;
		justify-content: space-between;
	}

	/* ******************* HEADER TABLET-DESCTOP **************** */

	.header .logo {
		color: var(--Headings-color);
		margin-right: 123px;
		padding: 24px 0;
	}

	.site-nav {
		display: flex;
		margin-right: auto;
	}

	.site-nav .nav-list:not(:last-child) {
		margin-right: 40px;
	}

	.nav-link {
		display: block;
		position: relative;
		color: var(--Headings-color);
		font-weight: 700;
		padding: 24px 0;
		line-height: 1.5;
		letter-spacing: 0.02em;

		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function:
			cubic-bezier(0.4, 0, 0.2, 1);
	}

	.nav-link:hover,
	.nav-link:focus,
	.nav-link:active {
		color: var(--button-active-color);
	}

	.current {
		color: var(--button-active-color);

		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function:
			cubic-bezier(0.4, 0, 0.2, 1);
	}

	.current::after {
		position: absolute;
		display: block;
		content: "";

		width: 100%;
		height: 4px;
		bottom: 0;

		background-color: var(--button-active-color);
		border-radius: 2px;
	}

	.contacts-link {
		color: var(--Body-text-color);

		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function:
			cubic-bezier(0.4, 0, 0.2, 1);
	}

	.contacts-link:hover,
	.contacts-link:focus,
	.contacts-link:active {
		color: var(--button-active-color)
	}

	/* ******************* HERO TABLET-DESCTOP **************** */

	.hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero .title {
		width: 494px;
		font-size: 56px;
		line-height: 1.07;
	}

	.modal {
		width: 408px;
		padding: 24px;
	}

	.form-modal-title {
		margin-bottom: 14px;
	}


	.feature-list {
		display: flex;
	}

	.social-list-item:not(:last-child) {
		margin-right: var(--card-set-gap);
	}

	.subscribe-area {
		display: flex;
	}

	.footer-summary {
		margin-right: 24px;
	}

	.email-input-footer {
		margin-right: 24px;
	}

	/* ******************* PORTFOLIO TABLET-DESCTOP **************** */

	.filter-nav {
		justify-content: center;
	}

	.butoon-filter {
		padding: 12px 24px;
	}

	.filter-nav .filter-nav-btn:not(:last-child) {
		margin-right: var(--card-set-gap);
	}

	.butoon-filter:hover,
	.butoon-filter:focus,
	.butoon-filter:active {
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}

	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
	}
}

/* ___________ TABLET-DESCTOP (min-width: 768px) ____________ */

/* ______________ DESCTOP (min-width: 1200px) _______________ */

@media screen and (min-width: 1200px) {


	.container {
		max-width: 1158px;
		padding: 0 15px;
	}

	.mobile-menu-container {
		align-items: center;
	}

	.container .logo {
		margin-right: 76px;
	}

	.contacts-list {
		display: inline-flex;
		line-height: 1.5;
	}

	.contacts-link {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.contacts-list:first-child {
		margin-right: 40px;
	}

	/* ********************* HERO DESCTOP ********************* */

	.hero {
		max-width: 100%;
		height: 600px;
		padding-top: 188px;
		padding-bottom: 188px;
		margin: auto;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/bg_img/people_offic.jpg);
		background-size: 1440px 600px;
	}


	@media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(-o-min-device-pixel-ratio: 2/1),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))),
				url(../images/bg_img/people-offic_2x.jpg);
			background-image: -o-linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic_2x.jpg);
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic_2x.jpg);
		}
	}

	@media (min-device-pixel-ratio: 3),
	(-webkit-min-device-pixel-ratio: 3),
	(-o-min-device-pixel-ratio: 3/1),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
		.hero {
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 47, 66, 0.7)), to(rgba(46, 47, 66, 0.7))),
				url(../images/bg_img/people-offic_3x.jpg);
			background-image: -o-linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic_3x.jpg);
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/bg_img/people-offic_3x.jpg);
		}
	}

	.hero .title {
		margin-bottom: 48px;
		width: 494px;
	}


	.modal {
		top: 80px;
		transform: translatex(-50%);
	}

	/* ********************* FEATURE DESCTOP ********************* */

	.feature-list .list-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
	}

	.section-feature {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.feature-list .item {
		width: 264px;
	}

	.feature-list .item:not(:last-child) {
		margin-right: var(--card-set-gap);
	}

	/* ******************** specialization DESCTOP **************** */

	.section.specialization {
		padding-bottom: 120px;
	}


	.specialization-title {
		font-size: 36px;
		line-height: 1.11;

		text-transform: capitalize;
		text-align: center;
		margin-bottom: 72px;
	}

	.specialization-list {
		display: flex;
		gap: 24px;
	}

	.specialization-list .item {
		flex-basis: calc((100% - 48px) / 3);
	}



	/* ************************ TEAM DESCTOP ************************ */

	.section.team {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.team-list {
		display: flex;
		gap: 24px;
	}

	.team-list .card {
		flex-basis: calc((100% - 72px) / 4);
	}

	/* ********************* CUSTOMERS DESCTOP ********************* */
	.footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.section-customers {
		padding: 120px 0;
	}

	.customers-item:not(:last-child) {
		margin-right: 24px;
	}


	.footer-summary {
		margin-right: 120px;
	}

	.footer-social {
		margin-right: auto;
	}

	/* ******************* PORTFOLIO DESCTOP ****************** */

	.section.portfolio {
		padding-top: 96px;
		padding-bottom: 120px;
	}

	.filter-nav {
		margin-bottom: 72px;
	}

	.portfolio-list {
		gap: 72px 24px;
	}

	.portfolio-list .item {
		flex-basis: calc((100% - 48px) / 3);
	}



	.list-content {
		border: 1px solid var(--Subtle-backgrounds-color);
		border-top: none;
	}
}